<div
  data-image-number="{{ image_number }}"
  class="hidden relative aspect-square pt-2"
>
  <img class="w-full h-full object-cover rounded-xl" />
  <button
    type="button"
    class="rounded-full bg-slate-950/70 absolute top-4 right-2 cursor-pointer hover:bg-slate-950/90"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-8 text-slate-100 m-1"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
  </button>
</div>
