<!-- prettier-ignore -->
{% extends "base_home.html" %}
{% block home_body %}
<div class="border-b-2 border-slate-300 h-1/12 pl-8 flex items-center">
  <h2 class="text-3xl font-bold">リプライ</h2>
</div>
<div class="h-11/12 overflow-y-auto">
  <div>
    <!-- prettier-ignore -->
    {% for reply in replies %}
    <div class="px-4 py-4 border-b-2 border-slate-200">
      <div
        class="inline-flex items-center text-slate-500 hover:text-slate-500 hover:border-b border-slate-400 cursor-pointer"
        data-in-reply-to-text="{{reply.in_reply_to_tweet_text}}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 mr-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
          />
        </svg>
        <p>
          あなたのツイート
          <!-- prettier-ignore -->
          「 {{ reply.in_reply_to_tweet_text|truncatechars:21}} 」
          に対しての返信
        </p>
      </div>
      <!-- リプライ -->
      <div class="px-5 py-3 flex">
        <div>
          <img
            class="rounded-full"
            src="{{ reply.author.profile_image_url }}"
          />
        </div>
        <div class="pl-4">
          <div class="flex gap-2 items-center">
            <p class="font-semibold text-lg">{{ reply.author.name }}</p>
            <p class="font-light text-slate-500">
              @{{ reply.author.username }}
            </p>
            <p class="font-light text-slate-500">
              ・{{ reply.display_created_at }}
            </p>
          </div>
          <p class="my-1 text-lg">{{ reply.text }}</p>
        </div>
      </div>
      <!-- リプライへの返信 -->
      {% if reply.my_reply_to_reply %}
      <div class="flex items-center ml-18">
        <div class="flex">
          <div>
            <img
              class="rounded-full h-10 mr-3"
              src="{{ reply.my_reply_to_reply.author.profile_image_url }}"
            />
          </div>
          <div>
            <div class="flex gap-2 items-center">
              <p class="font-semibold text-lg">
                {{ reply.my_reply_to_reply.author.name }}
              </p>
              <p class="font-light text-slate-500">
                @{{ reply.my_reply_to_reply.author.username }}
              </p>
              <p class="font-light text-slate-500">
                ・{{ reply.my_reply_to_reply.display_created_at }}
              </p>
            </div>
            <p class="text-lg">{{ reply.my_reply_to_reply.display_text }}</p>
          </div>
        </div>
      </div>
      <!-- リプライ入力欄 -->
      {% else %}
      <div>
        <div class="flex ml-18">
          <img
            class="rounded-full h-10 mr-3"
            src="{{ user.user.profile_image_url }}"
          />
          <textarea
            rows="1"
            data-reply-text="{{reply.id}}"
            class="text-lg p-2 w-full border-2 rounded-lg resize-none field-sizing-content border-slate-400 focus:border-slate-500 focus:ring-slate-300 focus:outline-none focus:ring-3"
            placeholder="@{{reply.author.username}}に対しての返信を入力..."
          ></textarea>
        </div>

        <div class="flex justify-end mt-2">
          <!-- 入力数カウンター -->
          <div
            data-reply-char-counter="{{reply.id}}"
            class="flex items-center text-slate-400"
          >
            <p data-reply-char-count="{{reply.id}}">0</p>
            <p>/140</p>
          </div>
          <!-- 送信ボタン -->
          <button
            class="bg-slate-700 text-slate-100 w-32 rounded-lg ml-2 p-2 hover:bg-slate-800 cursor-pointer"
            data-reply-button="{{reply.id}}"
          >
            <div class="flex justify-center items-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
                />
              </svg>
              <p>返信</p>
            </div>
          </button>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
<dialog
  class="m-auto border-2 border-slate-300 rounded-2xl w-2xl p-2 bg-slate-50 text-slate-700 focus:outline-none"
  id="in-reply-to-text-modal"
>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-8 text-slate-500 hover:text-slate-700 cursor-pointer"
      id="close-in-reply-to-text-modal-button"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
  </div>
  <div class="flex m-2">
    <div class="mr-3">
      <img
        class="rounded-full"
        src="{{ user.user.profile_image_url }}"
        alt="アイコン"
      />
    </div>
    <div class="flex-1 rounded-2xl">
      <p class="whitespace-pre-wrap text-lg" id="tweet-text"></p>
    </div>
  </div>
</dialog>
<script>
  $(document).ready(() => {
    $("[data-in-reply-to-text]").on("click", function () {
      $("#in-reply-to-text-modal")[0].showModal();
      const tweetText = $(this).data("in-reply-to-text");
      $("#tweet-text").text(tweetText);
    });

    $("#close-in-reply-to-text-modal-button").on("click", () => {
      $("#in-reply-to-text-modal")[0].close();
    });

    $("[data-reply-text]").on("input", function () {
      const replyId = $(this).data("reply-text");
      const charCount = $(this).val().length;
      $(`[data-reply-char-count=${replyId}]`).text(charCount);
      if (charCount > 140) {
        $(`[data-reply-char-counter=${replyId}]`).addClass("text-red-400");
        $(`[data-reply-char-counter=${replyId}]`).removeClass("text-slate-400");
      } else {
        $(`[data-reply-char-counter=${replyId}]`).addClass("text-slate-400");
        $(`[data-reply-char-counter=${replyId}]`).removeClass("text-red-400");
      }
    });

    $("[data-reply-button]").on("click", function () {
      const replyId = $(this).data("reply-button");
      const replyText = $(`[data-reply-text=${replyId}]`).val();
      if (replyText.length > 140) {
        showToast("ツイートの文字数は140文字以内で入力してください");
        return;
      }
      if (replyText == "") {
        showToast("ツイートの文章を入力してください。");
        return;
      }

      $.ajax({
        url: "{% url 'reply' %}",
        method: "POST",
        data: { replyText: replyText, replyId: replyId },
      }).done((response) => {
        if (response.status === "success") {
          showSuccessToast("成功しました");
        } else if (response.status === "error") {
          alert(
            "エラーコード" + response.error_code + "： " + response.message,
          );
        }
      });
    });
  });
</script>
{% endblock home_body %}
