<!-- prettier-ignore -->
{% extends "base_home.html" %}
{% block home_body %}
<div class="border-b-2 border-slate-300 h-1/12 pl-8 flex items-center">
  <h2 class="text-3xl font-bold">リプライ</h2>
</div>
<div class="h-11/12 overflow-y-auto">
  <div>
    <!-- prettier-ignore -->
    {% for reply in replies %}
      {% include "tweets/_replies.html" %}
    {% endfor %}
  </div>
</div>
<!-- リプライ元ツイート確認ダイアログ -->
<dialog
  class="m-auto border-2 border-slate-300 rounded-2xl w-2xl p-2 bg-slate-50 text-slate-700 focus:outline-none"
  id="in-reply-to-text-modal"
>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-8 text-slate-500 hover:text-slate-700 cursor-pointer"
      id="close-in-reply-to-text-modal-button"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
  </div>
  <div class="flex m-2">
    <div class="mr-3">
      <img
        class="rounded-full"
        src="{{ user.user.profile_image_url }}"
        alt="アイコン"
      />
    </div>
    <div class="flex-1 rounded-2xl">
      <p class="whitespace-pre-wrap text-lg" id="tweet-text"></p>
    </div>
  </div>
</dialog>

<script>
  $(document).ready(() => {
    $(document).on("click", "[data-in-reply-to-text]", function () {
      $("#in-reply-to-text-modal")[0].showModal();
      const tweetText = $(this).data("in-reply-to-text");
      $("#tweet-text").text(tweetText);
    });

    $("#close-in-reply-to-text-modal-button").on("click", () => {
      $("#in-reply-to-text-modal")[0].close();
    });

    $(document).on("input", "[data-reply-text]", function () {
      const replyId = $(this).data("reply-text");
      const charCount = $(this).val().length;
      $(`[data-reply-char-count=${replyId}]`).text(charCount);
      if (charCount > 140) {
        $(`[data-reply-char-counter=${replyId}]`).addClass("text-red-400");
        $(`[data-reply-char-counter=${replyId}]`).removeClass("text-slate-400");
      } else {
        $(`[data-reply-char-counter=${replyId}]`).addClass("text-slate-400");
        $(`[data-reply-char-counter=${replyId}]`).removeClass("text-red-400");
      }
    });

    $(document).on("click", "[data-reply-button]", function () {
      const replyId = $(this).data("reply-button");
      const replyText = $(`[data-reply-text=${replyId}]`).val();
      if (replyText.length > 140) {
        showToast("ツイートの文字数は140文字以内で入力してください");
        return;
      }
      if (replyText == "") {
        showToast("ツイートの文章を入力してください。");
        return;
      }

      $.ajax({
        url: "{% url 'post_reply' %}",
        method: "POST",
        data: { replyText: replyText, replyId: replyId },
      }).done((response) => {
        if (response.status === "success") {
          showSuccessToast("成功しました");
          $(`[data-reply-item=${replyId}]`).replaceWith(response.html);
        } else if (response.status === "error") {
          alert(
            "エラーコード" + response.error_code + "： " + response.message,
          );
        }
      });
    });
  });
</script>
{% endblock home_body %}
