{% extends "base_home.html" %} {% block home_body %}
<div class="border-b-2 border-slate-300 h-1/12 pl-8 flex items-center">
  <h2 class="text-3xl font-bold">ツイート</h2>
</div>
<div class="h-11/12 overflow-y-auto">
  <div class="p-8">
    <div class="flex">
      <div>
        <img
          class="rounded-full"
          src="{{ user.user.profile_image_url }}"
          alt="アイコン"
        />
      </div>
      <div class="flex-1 flex mt-2">
        <textarea
          id="tweet-text"
          class="flex-1 ml-4 border-b-2 border-slate-300 text-2xl field-sizing-content resize-none self-start focus:outline-none focus:border-slate-500"
          placeholder="なにしてる？"
        ></textarea>
      </div>
    </div>
    <div class="flex justify-end mt-3">
      <div class="flex items-center text-slate-400">
        <p id="input-count">0</p>
        <p>/280</p>
      </div>
      <button
        class="bg-slate-700 text-slate-100 w-44 rounded-lg p-3 ml-2 hover:bg-slate-800 cursor-pointer"
        id="tweet-button"
      >
        <div class="flex justify-center items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"
            />
          </svg>
          <p>ツイート</p>
        </div>
      </button>
    </div>
  </div>
  <div class="flex justify-between px-4 pb-2 border-b-2 border-slate-300">
    <p class="text-slate-500 text-lg">自分のツイート</p>
    <p class="text-slate-400">新しい順</p>
  </div>

  {% for tweet in my_tweets %}
  <div class="border-b-2 border-slate-200 px-5 py-4 flex">
    <div>
      <img class="rounded-full" src="{{ tweet.author.profile_image_url }}" />
    </div>
    <div class="pl-4">
      <div class="flex gap-2 items-center">
        <p class="font-semibold text-lg">{{ tweet.author.name }}</p>
        <p class="font-light text-slate-500">@{{ tweet.author.username }}</p>
        <p class="font-light text-slate-500">
          ・{{ tweet.display_created_at }}
        </p>
      </div>
      <p class="my-1 text-lg">{{ tweet.text }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  $(document).ready(() => {
    $("#tweet-button").on("click", () => {
      const tweetText = $("#tweet-text").val();
      $.ajax({
        url: "{% url 'tweet' %}",
        method: "POST",
        data: { tweetText: tweetText },
      }).done((response) => {
        if (response.status === "success") {
          showSuccessToast("ツイートしました");
          $("#tweet-text").val("");
        } else if (response.status === "error") {
          alert(
            "エラーコード" + response.error_code + "： " + response.message,
          );
        }
      });
    });
  });
</script>
{% endblock home_body %}
