<!-- 画像拡大表示 -->
<dialog
  class="m-auto border-2 border-slate-300 rounded-2xl relative focus:outline-none"
  id="img-modal"
>
  <button
    type="button"
    class="rounded-full bg-slate-200/70 absolute top-5 right-5 cursor-pointer hover:bg-slate-200/90 outline-slate-500"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-8 text-slate-900 m-1"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
  </button>
  <img class="m-3 max-w-[80vw] max-h-[80vh] rounded-2xl" />
</dialog>
